{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIRDARYO-ZARAFSHON
      Irrigatsiya tizimlari havza boshqarmasi</title>

    <link rel="icon" type="image/x-icon" href="/static/favicon.png">

    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
    {% endcompress %}
</head>

<body class="bg-green-50">

{% include 'head-banner.html' %}
<header class="sticky top-0 z-50">
  {% include 'header.html' %}
</header>

  
<div class="drawer lg:drawer-open my-10 px-5 mx-5">

    <div class="drawer-content flex flex-col items-center justify-center px-5 mx-5 ">
      <!-- Page content here -->
      {% block content %}
      {% endblock content %}
      
    </div> 
    {% include 'sidebar.html' %}
  </div>


  {% include 'footer.html' %}  <script src="https://unpkg.com/tailwindcss-jit-cdn"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
  <script type="application/javascript">
    window.addEventListener('DOMContentLoaded', function() {
      var detailsElements = document.querySelectorAll('details');
  
      detailsElements.forEach(function(detailsElement) {
        detailsElement.addEventListener('focusout', function() {
          this.removeAttribute('open');
        });
      });
    });
  </script>
</body>
</html>