{% extends "_base.html" %}
{% load static %}

{% block content %}
<h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white md-6"> <span class="underline underline-offset-3 decoration-8 decoration-blue-400 dark:decoration-blue-600">{{ article }}</span></h1>

<section class="flex flex-wrap  bg-900 text-dark-200 w-full">
            {% for i in articles %}

                <article class="bg-white rounded-lg overflow-hidden shadow-md w-96 m-3">
                   
                        <div class="relative  overflow-hidden">
                            <img class="object-cover w-96 h-48 transform hover:scale-105 transition duration-700 ease-out" src="{{ i.articleimage_set.all.first.image.url }}" alt="Blog post">
                        </div>
                   
                    <div class="p-4">
                        <div>
                            <div class="mb-3">
                                <ul class="flex flex-wrap text-xs font-medium -m-1">
                                    <li class="m-1">
                                        <a class="inline-flex text-center text-gray-100 py-1 px-3 rounded-full bg-blue-500 hover:bg-blue-600 transition duration-150 ease-in-out" href="#0">{{ article }}</a>
                                    </li>
                                </ul>
                            </div>
                            <h3 class="text-xl font-bold leading-tight mb-2">
                                <a class="hover:text-blue-800 transition duration-150 ease-in-out" href="{% url 'app:detail' category_id=i.category.id id=i.id %}">{{i.title}}.</a>
                            </h3>
                        </div>
                        <div class="line-clamp-3 text-gray-400">{{ i.description|safe|escape}}</div>
                        <div class="flex items-center mt-4">
                            <h6 class="mb-2 text-3l tracking-tight text-gray-900 dark:text-white"><div class="flex">{{i.date|date:"d M Y"}} | &nbsp;<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M15.1614 12.0531C15.1614 13.7991 13.7454 15.2141 11.9994 15.2141C10.2534 15.2141 8.83838 13.7991 8.83838 12.0531C8.83838 10.3061 10.2534 8.89111 11.9994 8.89111C13.7454 8.89111 15.1614 10.3061 15.1614 12.0531Z" stroke="#200E32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M11.998 19.3549C15.806 19.3549 19.289 16.6169 21.25 12.0529C19.289 7.48885 15.806 4.75085 11.998 4.75085H12.002C8.194 4.75085 4.711 7.48885 2.75 12.0529C4.711 16.6169 8.194 19.3549 12.002 19.3549H11.998Z" stroke="#200E32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                {{i.views}}</div></h6>
                            </div>
                        <a href="{% url 'app:detail' category_id=i.category.id id=i.id %}" class="btn btn-outline-primary">Batafsil o'qish</a>
                      </div>
                </article>
            {% endfor %}
        
</section>



{% endblock content %}