{% load mptt_tags %}
{% load static %}

<ul class="menu bg-base-200 w-56 rounded-box mx-5 ">
  {% for category in sidebar_categories %}
  
  <li style="font-size:20px" class="m-28">

    {% if category.icon %}
    <img src="{{ category.icon.url }}" style="width:50px" alt=" icon">
    {% endif %}
  
  
    {% if category.has_children %}
    <details open>
      <summary>{{ category.name }}</summary>
      <ul class="p-6">
        {% recursetree category.get_children %}
        <li>
          <h3>

            <a href="{{ node.get_absolute_url }}">{{ node.name }}</a>
          </h3>

        </li>
        {% endrecursetree %}
      </ul>
    </details>

    {% elif category.is_root  %}

      <a href="{{ category.get_absolute_url }}">
        

        {{ category.name }}</a>
    </h3>
    {% endif %}
  </li>
  {% endfor %}

</ul>